body{background-image: linear-gradient(to right,black,darkblue,blue);
    ;margin:0;padding:0 20px;
    display: flex;
    flex-direction:column;width:95vw;overflow-y: scroll;overflow-x:hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar{height:10vh;color:white;width:100%;
    position:sticky;top:0px;z-index:2;}
.navbar ul{width:100% ;height:100%;display:flex;flex-direction:row;justify-content:flex-end;border-bottom:1px solid rgb(110, 109, 109);}
.bgclr{background-color: black;}
.navbar ul li{list-style: none;margin: 5px;font-weight: bold;}
.navbar ul li:hover{color:red;}




.tcontainer{color:white;height:60vh;width:100%;display: flex;flex-direction: row;margin:10px auto;justify-content:space-between}
.tcontainer .first{font-size:75px;width:50%;text-align: right;}
.tcontainer .second{font-size:larger;width:50%;text-align: left;
display:flex;
align-items: flex-end;}

.colorblocks{display:flex;flex-direction:row;justify-content:space-between;align-items:center;width:100%;height:20vh;margin:5vh auto}
.colorblocks .grid{display: grid;grid-template-columns: repeat(4, 50px); 
    grid-template-rows: repeat(2,50px);
    height:100%;width:25%;grid-gap:5px;
    }
.colorblocks .grid .item{background-color: black;}
.colorblocks .grid .itemh{background-color:white;}

.about{width:100%;height:70vh;margin-bottom:18vh;
padding:10px;color:white;display:flex;flex-direction:column ;justify-content: space-between;}
.about .container{display: flex;flex-direction: row;justify-content: space-between;
height:60%;width:100%;padding:10px;flex-wrap: wrap;}
.about .container .blocks{background-color: rgb(59, 59, 211);width:30%;height:100%;padding:2px;
display:flex;flex-direction:column;align-items: center;}
.about .container .blocks img{height:70%;width:100%;object-fit:cover;}
.about .container .blocks:hover{background-color:blue}


.posts{width:100%;height:auto;margin-bottom:10vh;
;padding:10px;color:white}
.posts .container{display: flex;flex-direction: column;flex-wrap: wrap;height:75vh}
.posts .container .row{display: flex;flex-direction: row;justify-content: space-around;flex-wrap: wrap;
    height:40%;width:100%;padding:10px}
.posts .container .blocks{background-color: rgb(59, 59, 211);width:30%;height:100%;text-align: center;padding:2px;position:relative}
.posts .container .blocks img{height:100%;width:100%;object-fit:cover;
border-radius:13px;box-shadow:4px 7px 7px 0px grey;transition:400ms}
.posts .container .blocks p{position:absolute;top:50px;left:50px}
.posts .container .blocks:hover img{filter:grayscale(1);transform:scale(1.03)}

.foot{margin:25px 50px;display:flex;flex-direction: row;justify-content: space-between;}
.foot .item1{height:max-content;width:50%;color:white}
.foot .item2{height:max-content;width:50%;color:white;text-align: right;}

/* @media (width<=500px) {
    .colorblocks,.about,.posts{margin-bottom:20px;height:auto}
    .about .container,.posts .container{flex-wrap:wrap}
} */
    

